/* STOPWATCH EFFECTS */
#stopwatch-display {
	font-family: 'Consolas', monospace;
	font-size: 48px; /* Adjust the size as needed */
	text-align: center;
	display: block;
	margin: 0 auto; /* Centers the text horizontally */
}

.button-row {
    display: flex;
    justify-content: center; /* Push groups to the edges */
    align-items: center; /* Align buttons vertically (optional) */
    position: relative;
}

/* TIMER EFFECTS */
.TMR-timer-countdown {
	display: flex;
	font-family: 'Consolas', monospace;
	font-size: 20px; /* Adjust the size as needed */
	margin-right: 10px;
}

.TMR-timer-container {
	display: flex;
    justify-content: space-between; /* Push groups to the edges */
    align-items: center; 
    width: 100%;
	margin-bottom: 15px;
}

.TMR-timer-label {
	font-size: 15px;
	font-weight: bold;
}

.TMR-timer-utility {
	display: flex; 
	align-items: center;
}

.TMR-timer-start-button, .TMR-timer-reset-button, .TMR-timer-remove-button {
	font-size: 10px;
	width: 45px;
}