html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
}
body {
    font-size:16.5px;
    background: linear-gradient(to bottom, 
        rgb(255, 255, 255),
        rgb(249, 239, 229), /* Light Pink */
        rgb(229, 219, 199), /* Medium Pink */
        rgb(213, 189, 179), /* Dark Pink */
        rgb(189, 159, 149)   /* Darkest Pink */
    );
}
#contact {
    background-color: rgb(146, 94, 103);
    color: white;
    padding: 0em 0 1em 0 ;
    color: rgba(255, 255, 255, 0.541);
    .bigger-p{
        color: rgba(255, 255, 255, 0.541);
    }
}
.bigger-p {
    color: rgba(0, 0, 0, 0.8);
    font-size:1.15em;
    margin: 10px;
}
.section {
    justify-content: center;
}
.center-text{
    text-align: center;
}
