body {
    font-size:16.5px;
    background: rgba(255, 208, 0, 0.116)
}
b {
    color: rgba(41, 40, 40, 0.63);
}
p {
    color: rgba(0, 0, 0, 0.8);
    font-size:1.15em;
    margin: 10px;
}
.effect-span {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.15em; 
}
#home-btn {
    padding: center;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 40px;
    width: 80px;  
    height: 50px;  
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.submenu {
    font-size: 1.5em; 
    font-weight: bold; 
    margin-right: 10px; 
}
.container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.expandable-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

select {
    appearance: auto;  /* Ensures the native dropdown arrow is displayed */
    -webkit-appearance: auto; /* For Safari and Chrome */
    -moz-appearance: auto; /* For Firefox */
    border: 1px solid #000;  /* Default border */
    padding: 5px;    /* Adjust padding as needed */
    background-color: white; /* Default background color */
    color: black;    /* Default text color */
    font: inherit;   /* Inherit font from parent */
    cursor: pointer; /* Ensure the pointer cursor is maintained */
}

/* TEXT ENCRYPT-DECRYPT TOOL */
.same-line-block {
    display: flex;          /* Flexbox to align elements in a row */
    align-items: center;    /* Align vertically in the center */
    gap: 10px;              /* Optional gap between elements */
}
