
#stream-UI {
    display: flex;
    /* height: calc(100vh - 70px); */
    height: 903px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(14, 14, 16);
}

/* GENERAL UI */
#media-section {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    max-width: calc(100% - 315px); 
    height: auto; 
    position: relative;
}

#video-player {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    aspect-ratio: 16/9;
    z-index: 2; 
    background-color: purple; 
}

/* CHANNEL UI  */
#channel-info {
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 150px;
    z-index: 1; 
    background-color: rgb(14, 14, 16); 
    color: #fff; 
    padding: 1rem; 
}

#channel-user-avatar {
    width: 80px;
    height: 80px;
}

#channel-info-left {
    display: flex; /* Make the container a flex container */
    align-items: center; /* Align items vertically in the center */
    gap: 10px; 
    margin-top: 10px;
}

#channel-name, #channel-title {
    font-size: 20px;
    height: 30px;
}

#channel-action {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

#channel-category {
    font-size: 15px;
    margin-top: 5px;
}

#channel-numbers {
    display: flex; /* Make the container a flex container */
    align-items: center; /* Align items vertically in the center */
    float: right;
    gap: 10px; 
    font-family: Arial, Helvetica, sans-serif;
}

/* CHAT SECTION */
#chat-section {
    width: 315px; /* Fixed width for the chat section */
    background-color: #18181b;
    /* top, right, bottom, left */
    /* padding: 5px 0rem 0.5rem 1rem;   */
    padding: 5px 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    height: 100%; /* Stays consistent with the parent height */
}

#chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* Ensures vertical stacking of <p> elements */
    gap: 7px; /* Adds vertical spacing between child elements */
    position: relative;
    height: 100%;
    padding-left: 10px;
    padding-right: 6px;
    margin-bottom: 5px;
}

/* Webkit browsers */
#chat-messages::-webkit-scrollbar {
    width: 5px; /* Adjust the width to make it thin */
    position: absolute;
    right: -30px; /* Adjust this to shift the scrollbar */
}

#chat-messages::-webkit-scrollbar-track {
    background: #18181b; /* Light grey background for the scrollbar track */
}

#chat-messages::-webkit-scrollbar-thumb {
    background: #6e6e6e; /* Darker grey for the thumb */
    border-radius: 10px; /* Optional: rounds the thumb */
}

#chat-messages::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker grey when hovering */
    cursor: pointer;
}

#chat-messages p {
    color:white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; 
    word-wrap: break-word; 
    word-break: break-word; 
    white-space: normal; 
    margin: 0; /* Reset default margin */
    line-height: 1.45;
}

#chat-messages p:hover {
    background-color: rgb(55, 55, 57);
}

.user-message:hover {
    cursor: pointer; 
}

.chat-input {
    display: flex;
    position: relative;
    padding-right: 7px;
    padding-left: 7px;
}

#emote-preview {
    position: absolute;
    top: 40px;
    left: 40%;
    transform: translateX(-50%);
    max-height: 30px;
    max-width: 96px;
    pointer-events: none;
    visibility: hidden;
    outline: 4px solid rgb(169, 112, 255);
}

#chat-input {
    flex-grow: 1;
    padding: 0.5rem;
    border: none;
    height: 35px;
    border-radius: 4px;
    background-color: #3a3a3d;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#chat-input:focus {
    outline: 4px solid rgb(169, 112, 255);
}

#under-chat-input {
    padding-right: 10px;
    padding-left: 10px;
}

p span img {
    position:relative; top: 6px; max-height: 32px; max-width: 96px
}

input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #3a3a3d;
    color: #ffffff;
}

.purple-button {
    all: revert;
    background-color: rgb(119, 44, 232);
    height: 30px;
    align-items: center;
    justify-content: center; 
    color: #ffffff !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px; 
    font-weight: bold;
    border:none !important;
    transition: background-color 0.3s ease; 
    cursor: pointer; 
}

.purple-button:hover {
    color: #ffffff !important; 
	box-shadow: none !important;
    background-color: rgb(100, 34, 200) !important; 
}

.purple-button:active {
    color: #ffffff !important; 
    box-shadow: none !important;
    background-color: rgb(79, 27, 159) !important; 
}

.section-row-farend {
    display: flex;
    margin-top: 10px;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}
